.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.resume-content {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-title {
  color: #ff9c24;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.roadmap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roadmap-section {
  position: relative; /* Position relative for absolute positioning */
}

.roadmap-heading {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1rem;
}

.roadmap-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.roadmap-item {
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.roadmap-course {
  font-weight: 600;
  font-size: 18px;
  color: #0c3658;
  margin-bottom: 0.5rem;
}

.roadmap-details {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Animation for connecting rope */
.roadmap-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #ccc; /* Rope color */
  animation: rope-animation 2s infinite alternate; /* Rope animation */
}

@keyframes rope-animation {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}

/* Hover animation for .roadmap-item */
.roadmap-item:hover {
  animation: floatAnimation 5s ease-in-out infinite alternate;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0) rotate(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: translateY(-10px) rotate(-2deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translateY(0) rotate(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.resume-content {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  padding: 2rem;
}
