.orangeBar-content {
  background-image: url("../../assets/orange-bar.jpg");
  width: 100%;
  height: 22vh;
  filter: saturate(200%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.orangeBar-content_description {
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 20%;
}

.orangeBar-content_btn {
  padding: 8px 20px 8px 20px;
  border: 1px solid white;
  background-color: white;
  color: #ff9c24;
  cursor: pointer;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .orangeBar-content {
    height: auto; /* Adjust height for smaller screens */
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    padding: 20px; /* Add some padding for better spacing on smaller screens */
  }

  .orangeBar-content_btn {
    margin-top: 10px; /* Add margin at the top for better spacing */
  }
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 412px) {
  .orangeBar-content {
    height: auto; /* Adjust height for smaller screens */
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    padding: 20px; /* Add some padding for better spacing on smaller screens */
  }

  .orangeBar-content_btn {
    margin-top: 10px; /* Add margin at the top for better spacing */
  }
}
