/* about.css */
.about-content {
  margin-bottom: 5rem;
}

.about-content-top {
  display: flex;
  margin-top: 3rem;
}

.about-content-img {
  width: 50%;
  padding-left: 10rem;
  padding-top: 5rem;
}

.about-content-container {
  width: 50%;
  padding: 5rem;
}

.about-content-container-title {
  color: #ff9c24;
  font-size: 18px;
}

.about-content-container-designation {
  color: #0c3658;
  font-weight: bold;
  font-size: 32px;
}

.about-content-container-btn-cv {
  background-color: #ff9c24;
  border: none;
  color: #f2f2f2;
  padding: 10px 25px;
  margin-right: 2rem;
  margin-top: 3rem;
  cursor: pointer;
}

.about-content-container-btn-portfolio {
  background-color: white;
  border: 2px solid #0c3658;
  color: #0c3658;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 25px;
}

.about-content-container-p {
  font-size: 16px;
  padding-top: 1.5rem;
}

.about-content-bottom {
  display: flex;
  margin-top: 3rem;
}

.about-content-bottom-left {
  width: 50%;
  margin-right: 2rem;
  margin-left: 6rem;
}

.about-content-bottom-right {
  width: 50%;
  margin-right: 5rem;
}

.about-content-bottom-course-title {
  display: flex;
  justify-content: space-between;
}

.about-content-bottom-course-mark {
  margin-left: 1rem;
}

.progress {
  background: #f9dbb5;
  position: relative;
  margin-left: 2rem;
  height: 10px;
  width: 200px; /* Default width */
  border-radius: 5px; /* Add rounded corners */
  overflow: hidden; /* Ensure progress bar clips overflow content */
}

.progress > div {
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* Gradient color */
  height: 100%;
  border-radius: 5px; /* Add rounded corners */
}

.about-content-img {
  width: 50%;
  padding-left: 10rem;
  padding-top: 5rem;
  animation: slideInLeft 1s ease forwards;
  opacity: 0; /* Initially hide the image */
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  /* Tablet (portrait) styles */
  .about-content-img {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .about-content-top {
    flex-direction: column;
    align-items: center;
  }

  .about-content-container,
  .about-content-bottom {
    width: 100%;
    padding: 2rem;
  }

  .progress {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 412px) {
  /* Mobile styles */
  .about-content-img {
    width: 80%;
    padding: 2rem;
  }

  .about-content-img img {
    width: 100%;
    padding: 2rem;
  }

  .about-content-container,
  .about-content-bottom {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .about-content-bottom-left,
  .about-content-bottom-right {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }

  .about-content-bottom-course-title {
    padding-left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about-content-bottom-course-mark {
    margin-right: 0;
  }
}

/* about.css */

.about-content-bottom-course {
  margin-bottom: 1.5rem; /* Increase spacing between each skill bar */
}

.progress {
  background: #f9dbb5;
  position: relative;
  margin-left: 2rem;
  height: 10px;
  width: 200px; /* Default width */
  border-radius: 5px; /* Add rounded corners */
  overflow: hidden; /* Ensure progress bar clips overflow content */
}

.progress > div {
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* Gradient color */
  height: 100%;
  border-radius: 5px; /* Add rounded corners */
}

.about-content-img {
  width: 50%;
  padding-left: 10rem;
  padding-top: 5rem;
  animation: slideInLeft 1s ease forwards;
  opacity: 0; /* Initially hide the image */
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.progress {
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  /* Tablet (portrait) styles */
  .about-content-img {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .about-content-top {
    flex-direction: column;
    align-items: center;
  }

  .about-content-container,
  .about-content-bottom {
    width: 100%;
    padding: 2rem;
  }

  .progress {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 412px) {
  /* Mobile styles */
  .about-content-img {
    width: 100%;
    padding: 2rem;
  }

  .about-content-container,
  .about-content-bottom {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .about-content-bottom-left,
  .about-content-bottom-right {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }

  .about-content-bottom-course-title {
    padding-left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about-content-bottom-course-mark {
    margin-right: 0;
  }
}
