body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo h1 {
  color: #ff9c24;
  font-size: 24px;
  margin: 0;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform 0.5s ease;
}

.line:nth-child(2) {
  transition-delay: 0.1s;
}

.line:nth-child(3) {
  transition-delay: 0.2s;
}

.open .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links.show {
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ff9c24; /* Change color on hover */
}

/* Media query for mobile */
@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
    text-align: center; /* Centering text */
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-links a {
    font-size: 16px;
  }
}
